---
---

@import 'syntax';

$site-background-color: #f5f5f5;
$contrast-color: #333;

$azul-accent-color: #0070bb;
$ruby-accent-color: #e0115f;
$amber-accent-color: #ff7e00;
$avocado-accent-color: #568203;

.rowtitle {
  padding:6px;
  font-size: 1.5rem;
}

.rowrow {
  font-size: 1.2rem;
  border-bottom: 1px dashed #ddd;
}

.wxc {
  box-sizing: border-box !important;
  box-shadow: 0px 1px 4px rgb(170, 170, 170);
}

.cmid {
  display:block;
  vertical-align:middle;
  padding-top:20px;

}

p {
  font-size:1.2rem;
}


code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

p code {
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  border: 1px solid $contrast-color;
  margin:15px auto;

  td, th {
    border: 1px solid $contrast-color;
    padding: 5px 10px;
  }

  thead {
    background-color: darken($site-background-color, 10%);
  }
}

// TODO: make dt smaller
dt {
  float: left;
  width: 30%;
  font-weight: bold;
}

dd {
  float: right;
  width: 70%;
}

blockquote {
  font-size: 1.2rem;

}

.highlight {
  padding: 30px;
  border-radius: 6px;
  background-color: #272822;
  color: #f8f8f2;
  
  code {
    font-size: 1.2rem;
  }
}

.center {
  text-align: center;
}

.right {
  float: right;
  margin: 0 0 20px 20px;
}

.left {
  float: left;
  margin: 0 20px 20px 0;
}

.top-navbar {
  margin-bottom: 40px;
  height: 110px;
  a {
    display: inline-block;
    color: $contrast-color;
    padding: 66px 20px 25px;
    margin-right: 10px;
    margin-top: -5px;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid lighten($contrast-color, 10%);
    transition: all ease-in-out .3s;

    &:hover,
    &.current-page {
      color: $site-background-color;
      border-bottom: none;
    }

    &:hover {
      background-color: $contrast-color;
      transform: translateY(5px);
    }

    &.current-page {
      background-color: $contrast-color;
    }
  }
}

.archive,
.single {
  margin-bottom: 50px;
}

.single {
  font-size: 1.125rem;
  line-height: 28px;
}

.single time {
  color: #999;
  font-size: .9rem;
}

.bundle {
  border-top: 1px solid lighten($contrast-color, 50%);
  padding-top: 10px;
  margin-bottom: 10px;
}

.post-date {
  text-align: right;
}

.not-found {
  margin-top: 150px;
  text-align: center;
  font-size: 2rem;
}

.not-found h1 {
  font-size: 8rem;
}

dl,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

dl,
.clearfix:after {
    clear: both;
}

/*============================================================================*/
@media screen and (max-width: 750px) {
  .top-navbar {
    height: 35px;
    text-align: center;
    margin-top: 40px;

    a {
      padding: 5px 10px;
      margin: 5px;
      border-radius: 0;
      border: 1px solid $contrast-color;
      transition: none;

      &:hover {
        transform: none;
      }
    }
  }

  .bundle,
  .post-date {
    text-align: center;
  }

}
