<!-- meta information -->
<meta charset="utf-8">
<meta name="description" {% if page.title == "home" %}
      content="{{ site.description }}" {% else %}
      content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" {% endif %}>
<meta name="author" content="{{ site.author }}">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- title -->
<title>{{ page.title }} &middot; {{ site.data.zf.name }}</title>

<!-- icons -->
<link rel="shortcut icon" href="{{site.baseurl}}/public/images/favicon.ico" />

<!-- stylesheets -->
<link rel="stylesheet" href="{{site.baseurl}}/public/css/responsive.gs.12col.css">
<link rel="stylesheet" href="{{site.baseurl}}/public/css/animate.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/public/css/main.css">

<!-- Bootstrap -->
    <link href="{{site.baseurl}}/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% if site.paginate %}
<!-- font Awesome -->
<link href="{{site.baseurl}}/public/css/font-awesome.css" rel="stylesheet">
{% endif %}

<!-- feed links -->
<link rel="alternate" href="{{ site.url }}{{ site.baseurl }}/feed.xml" type="application/rss+xml" title="{{ site.name }}">
