<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container azul">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="container-fluid">
			<div class="col-md-3 col-xs-12">
				<div  class="center-block" ><img src= "{{site.baseurl}}/public/images/logo.png"/></div>
			</div>
			<div class="col-md-6 col-xs-12"> {% include navigation.html %}</div>
			<div class="col-md-3 col-xs-12"></div>
          
        </div>
       
      </header>

      {{ content }}

      <footer>
         <hr>
         <a rel="license" href="">zf's 个人博客</a>
        
      </footer>
    </div>

    <!-- scripts -->
    <script src="{{site.baseurl}}/public/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{site.baseurl}}/public/js/bootstrap.min.js"></script>
  </body>
</html>
