<!DOCTYPE html>
<html>
  <head>
    {% include head.html %} 
  </head>
  <body>
    <div class="container-fluid">
		<div class= "row" >
			<div class="col-xs-12" style="background-color:#000;height:4px;width:100%"></div>
		</div>
      
		<header class= "row" >
			<div class="col-md-3 col-sm-12">
				<div style="text-align:center"><img src= "{{site.baseurl}}/public/images/logo.png"/></div>
			</div>
			<div class="col-md-6 col-sm-12"> {% include navigation.html %}</div>
			<div class="col-md-3 col-sm-12"></div>
		</header>
       

      {{ content }}

      <footer>
         <a rel="license" href="">zf's 个人博客</a>
      </footer>
    </div>

    <!-- scripts -->
    <script src="{{site.baseurl}}/public/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{site.baseurl}}/public/js/bootstrap.min.js"></script>
  </body>
</html>
