<!DOCTYPE html>
  <head>
    {% include head.html %} 
  </head>
  <body>
    <div class="container-fluid">
		<div class= "row" >
			<div class="col-xs-12" style="background-color:#000;height:4px;width:100%"></div>
		</div>
     </div>
	 <div class="container">
		<header class= "row" >
			<div class="col-md-6>
				<div class ="right"><img src= "{{site.baseurl}}/public/images/logo.png"/></div>
			</div>
			
			<div class="col-md-6 col-sm-12 center-block"> {% include navigation.html %}</div>
			<div class="col-md-2 "></div>
		</header>
	 </div>	
       
	<div class="container">
		<div class= "row" >
			<div class="col-sm-12">{{ content }}</div>
	    </div>
	</div>
      <footer class="container-fluid">
		<div class="row">
			<div class= "col-sm-12" style="background-color:#000;height:150px;width:100%"></div>
		</div>
      </footer>
    <!-- scripts -->
    <script src="{{site.baseurl}}/public/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{site.baseurl}}/public/js/bootstrap.min.js"></script>
  </body>
</html>
